.App {
  text-align: center;
  color: rgb(26, 86, 66);
}
#h{
  position:absolute;
  top: 0;
  width:100%;
  background:#6cf;
}
#f{
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:#6cf;
}
#s{
  position:absolute;
  left:0;
  top: 200px;
  width:100%;
  height:60px;   /* Height of the footer */
  background:rgb(20, 63, 84);
  color: bisque;
}